@tailwind base;
@tailwind components;
@tailwind utilities;

@import "fonts.css";

html, body {
  transition: all 200ms;
  font-family: 'Times New Roman', 'sans-serif';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.section {
  padding-left: 22px;
  padding-right: 22px;
}

.sec {
  padding-left: 22px;
  padding-right: 22px;
}

.text-sm {
  font-size: 14px
}

.text-tiny {
  font-size: 16px
}

.text-base {
  font-size: 18px
}

.text-md {
  font-size: 20px
}

.text-lg {
  font-size: 28px
}

.reveal {
  opacity: 0;
  transform: translateY(25px);
  transition: all 600ms ease-in-out;
}
.reveal.visible {
  opacity: 1;
  transform: none;
}

.instant-section {
  background: radial-gradient(47.03% 64.87% at 50% 50.05%, #6F47C0 0%, #2A125B 96.87%);
}

.tastes {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("../images/sequences/tastes/tastes.png");
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  background-image: url("../images/sequences/tastes/tastes-x2.png");
}

@media (min-width: 768px) {
  .section {
    padding-left: 72px;
    padding-right: 72px;
  }

  .sec {
    padding-left: 72px;
    padding-right: 72px;
  }

  .text-sm {
    font-size: 16px
  }

  .text-tiny {
    font-size: 18px
  }

  .text-base {
    font-size: 20px
  }

  .text-lg {
    font-size: 42px
  }
}

.quote-text {
  font-size: 20px;
  line-height: 28px;
}

@media (min-width: 1024px) {
  .quote-text {
    font-size: 25px;
    line-height: 34px;
  }
}

@media (min-width: 1280px) {
  .section {
    padding-left: 108px;
    padding-right: 108px;
  }

  .sec {
    padding-left: 108px;
    padding-right: 108px;
  }

  .text-sm {
    font-size: 16px
  }

  .text-tiny {
    font-size: 18px
  }

  .text-base {
    font-size: 28px
  }

  .text-lg {
    font-size: 59px
  }


  .lg\:text-md {
    font-size: 38px
  }

  .quote-text {
    line-height: initial;
  }
}

@media (min-width: 1920px) {
  .section {
    padding-left: 139px;
    padding-right: 139px;
  }

  .sec {
    padding-left: 139px;
    padding-right: 139px;
  }

  .text-sm {
    font-size: 24px
  }

  .text-tiny {
    font-size: 28px
  }

  .text-base {
    font-size: 36px
  }

  .text-lg {
    font-size: 80px
  }

  .xl\:text-md {
    font-size: 48px
  }
}
