
.slider.rc-slider {
  width: 158px;
  & .rc-slider-rail {
    background-color: transparent;
    background-image: url(../images/line.svg);
  }

  & .rc-slider-track {
    background-color: transparent;
  }

  & .rc-slider-handle {
    width: 37px;
    height: 37px;
    background-color: transparent;
    margin-top: -16px;
    background-image: url(../components/icons/slider-handle.svg);
    border: none;
    & .rc-slider-handle:hover {
      border: none;
    }
  }
  & .rc-slider-dot {
    background-image: url(../images/slider-dot.svg);
    border: none;
    background-color: transparent;
    width: 37px;
    height: 37px;
    bottom: -17px;
    margin-left: 0;

    &:first-of-type {
      left: -19px!important;
    }
    &:last-of-type {
      left: initial!important;
      right: -19px!important;
    }
  }
}