.loading {
  transition: all 300ms;
}

.bar {
  position: absolute;
  left: 0;
  top: 0;
  display: inline-block;
  width: 200px;
  height: 5px;
  animation: 4s linear 0s infinite bar-move
}

@keyframes bar-move {
  0% {
    transform: translate(-200px);
  }
  100% {
    transform: translate(calc(100vw));
  }
}

.loading-screen {
  display: none;
}

@media (min-width: 768px) {
  .loading-screen {
    display: flex;
  }
}