.partner {
  box-sizing: border-box;
}

.partner__image {
  transition: opacity 300ms ease-in-out;
  opacity: 0;
}

.partner__name:hover + .partner__image-wrapper > .partner__image {
  opacity: 1;
}


@media (min-width: 768px) {

}

@media (min-width: 1280px) {
}

@media (min-width: 1920px) {

}
