/*.section-bar {
  &:before {
    content: '';
    display: block;
    width: 1px;
    height: 31px;
    position: absolute;
    top: 0;
    left: calc(50% + 1px);
    background-color: #D0C2B3;
  }
}*/

.section-bar__title {
  transform: rotate(-180deg);
  writing-mode: vertical-rl;
}


@media (min-width: 768px) {
  .section-bar {
    left: 25px;
  }

  .section-bar__title {
    left: -16px;
    top: 47px;
  }
}

@media (min-width: 1280px) {
  .section-bar {
    left: 44px;
    &:before {
      height: 45px;
    }
  }
  .section-bar__title {
    left: -16px;
    top: 63px;
  }

}

@media (min-width: 1920px) {
  .section-bar {
    left: 63px;
  }
  .section-bar__title {
    left: -25px;
    top: 72px;
  }
}