.shop-bar {
  &:before {
    content: '';
    display: block;
    width: 1px;
    height: 31px;
    position: absolute;
    top: 0;
    left: calc(50% + 1px);
    background-color: #D0C2B3;
   }
}

.shop-bar__buy {
  transform: rotate(-90deg);
}


@media (min-width: 768px) {
  .shop-bar {
    right: 25px;
  }

  .shop-bar__buy {
    left: -16px;
    top: 47px;
  }
}

@media (min-width: 1280px) {
  .shop-bar {
    right: 44px;
    &:before {
      height: 45px;
    }
  }
  .shop-bar__buy {
    left: -16px;
    top: 63px;
  }

}

@media (min-width: 1920px) {
  .shop-bar {
    right: 63px;
  }
  .shop-bar__buy {
    left: -25px;
    top: 72px;
  }
}