.main-screen {
  background-image: url('../../images/main-screen/bg-mob.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.main-screen__button-wrapper {
  margin-left: calc(-10vw - 3px);
}

.main-screen__buy-mobile {
  display: block;
  height: 1px;
  width: 10vw;
  margin-right: 3px;
  background-color: #fff;
  position: relative;
  top: 0;
  left: 0;
}

.main-screen__sound-button {
  cursor: pointer;
  position: absolute;
  width: 40px;
  height: 29px;
  z-index: 100;
  bottom: 0;
  left: calc(50% + 20px);
  opacity: 0.7;
  &:hover {
    opacity: 1;
  }
}

.main-screen__sound-button--active {
  opacity: 1;
  &:hover {
    opacity: 0.7;
  }
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .main-screen {
    background-image: url('../../images/main-screen/bg-mob-x2.jpg');
  }
}

@media (min-width: 768px) {
  .main-screen {
    background-image: url('../../images/main-screen/bg-tab.jpg');
  }

  @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    .main-screen {
      background-image: url('../../images/main-screen/bg-tab-x2.jpg');
    }
  }
}

@media (min-width: 1024px) {
  .main-screen {
    padding-bottom: 56.25%;
  }
}

@media (min-width: 1280px) {
  .main-screen {
    background-image: url('../../images/main-screen/bg-laptop.jpg');
    padding-bottom: 0;
    height: 100vh;

    video {
      height: 100vh;
    }
  }

  @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    .main-screen {
      background-image: url('../../images/main-screen/bg-laptop-x2.jpg');
    }
  }
}

@media (min-width: 1920px) {
  .main-screen {
    background-image: url('../../images/main-screen/bg-desk.jpg');
  }

  @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    .main-screen {
      background-image: url('../../images/main-screen/bg-desk-x2.jpg');
    }
  }
}